.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(5, auto);
}

.logo{
    font-size: 75px;
}
  
.menuItem {
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    height: max-content;
}
  
.menuItem>a:hover {
    text-decoration: underline;
}